extends head.pug

block content
  h1 Overview for #{user.name}
  table.coins
    tr.titles
      th Coin
      th(align = "right") Sent
      th(align = "right") Recieved
      th(align = "right") Balance
    for coin in coins
      tr
        td= coin.name
        td(align="right")= coin.sent
        td(align="right")= coin.recieved
        td(align="right")= coin.balance
  h3 Recent sent
  +orderTable(fromOrders)
  h3 Recent recieves
  +orderTable(toOrders)
  p Join Date #{user.joindate}